.main{
	background-image: url("wall.png");
	background-size: 125%;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.formulario{
	width: 75%;
	height: 90%;
	padding: 10px;
	border-width: 1px;
	border-color: black;
	border-radius: 25px;
	border-style: solid;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	background-color: powderblue;
	opacity: 75%;
}

.centering{
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.input{
	background-color: #abc4eb;
}

.gpHorizontal{
	align-self: center;
	display: flex;
	width: 75%;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-self: center;
}

.coluna{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}